#root {
  font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
  margin: 10px;
}
html {
  scroll-behavior: smooth;
}


.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
  font-size: 250%;
  width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    list-style: none;
    margin-left: 0px;
}



@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 0px;
    padding-bottom: 20px;
    line-height: 27px;
  }
}

h3 {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.bio_image {
  width: 150px;
  align-items: center;
}

.card {
  margin-left: 10%;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;

}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button1 {
  transition-duration: 0.4s;
  background-color: white;
  color: #6e694e;
  border: 2px solid #6e694e;
  border-radius: 8px;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

a {
  color: #787255;
}

