#root {
  font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
  margin: 10px;
}
html {
  scroll-behavior: smooth;
}

.navbar-custom {
  height: 200px;
}

.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

h3 {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.bio_image {
  width: 150px;
  align-items: center;
}

.card {
  margin-left: 10%;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;

}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

a {
  color: #787255;
}